@model IEnumerable<SiteDAWMVC.Models.CompetenciasPessoais>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comptencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DadosPessoais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comptencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DadosPessoais.DadosPessoaisId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompetenciasPessoaisId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CompetenciasPessoaisId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CompetenciasPessoaisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
