@model IEnumerable<SiteDAWMVC.Models.Foto>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:cornflowerblue">Foto</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nova Foto</a>
</p>
<table class="table table-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoNome)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.FotoId">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.FotoId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FotoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
