@model SiteDAWMVC.Models.CvViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Curriculum</h1>

<div>
    <h3 class="mt-5">Dados Pessoais</h3>
</div>

<table class="table table-primary table-striped" >
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telemóvel</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var dadosPessoais in Model.DadosPessoais)
            {
                <td>@dadosPessoais.Nome</td>
                <td>@dadosPessoais.DataNascimento</td>
                <td>@dadosPessoais.Email</td>
                <td>@dadosPessoais.Telemovel</td>
            }
        </tr>
    </tbody>
</table>
<a class="btn btn-primary" asp-action="Index" asp-controller="DadosPessoais">Editar</a>
<td></td>

<div class="row">
    <div class="col-lg-6">
        <div>
            <h3 class="mt-5">Formaçâo</h3>
        </div>
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <th scope="col">Formação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var formacao in Model.Formacao)
                {
                    <tr>
                        <td>@formacao.Nome</td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-action="Index" asp-controller="Formacao">Editar</a>

    </div>

    <div class="col-lg-6">
        <div>
            <h3 class="mt-5">Experiência</h3>
        </div>
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <th scope="col">Experiência</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var experiencia in Model.Experiencia)
                {
                    <tr>
                        <td>@experiencia.Nome</td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-action="Index" asp-controller="Experiencia">Editar</a>
    </div>
</div>

<div>
    <h3 class="mt-5">Competencias Pessoais</h3>
</div>
<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th scope="col">Competencia</th>
            <th scope="col">Obsevações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var competenciasPessoais in Model.CompetenciasPessoais)
        {
            <tr>
                <td>@competenciasPessoais.Comptencia</td>
                <td>@competenciasPessoais.Observacoes</td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="Index" asp-controller="CompetenciasPessoais">Editar</a>

<div>
    <h3 class="mt-5">Competencias Digitais</h3>
</div>
<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th scope="col">Linguagem</th>
            <th scope="col">Nível</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comptenciasDigitais in Model.CompetenciasDigitais)
        {
            <tr>
                <td>@comptenciasDigitais.Linguagem</td>
                <td>@comptenciasDigitais.Nivel</td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="Index" asp-controller="CompetenciasDigitais">Editar</a>



